<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An example app using Elixir/Phoenix and Webpack/React">
    <meta name="author" content="Pat White">

    <title>Hello Kanban! 🤡</title>

    <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.styles.css") %>">
  </head>

  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.bundle.js") %>"></script>
  </body>
</html>
